<div>
    <div>
        <h3>Top Players of the given game</h3>
    </div>
    <div class="content-box">
        <a routerLink="/q3/1">
            <button>Display Overwatch 2 query</button>
        </a>
        <a routerLink="/q3/2">
            <button>Display Valorant query</button>
        </a>
        <a routerLink="/q3/3">
            <button>Display League of Legends query</button>
        </a>
    </div>
</div>
<div class="content-box">
    <a routerLink="/query">
        <button>Back</button>
    </a>
</div>
