<div>
    <div class="content-box">
        <a routerLink="/q1">
            <h3>List Players</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/add-object">
            <h3>Add New Player</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q3">
            <h3>Show Game Leaderboards</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q4">
            <h3>Display Studio Information</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q5">
            <h3>Show Consolidated Leaderboard</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q7">
            <h3>Display Players by W:L</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q8">
            <h3>Rank Games by User Ratings</h3>     
        </a>
    </div>
</div>